/*create global declaration*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid rgb(46, 191, 21);  */
    /* defaul font */
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
/* close them when done */
body {
    background-color: rgb(13, 12, 12);
    overflow: hidden;
}

p {
    font-size: 1.3em;
}

ul li {
    list-style-type: none;
    
}

button {
    outline: none;
    font-size: 1.3em;
    background-color: rgb(58, 23, 162);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    width: 25%;    
}

h1, h2 {
    color: red;
    text-align: center;
}
/*outer container section*/
/*use flexbox to eliminate workflow issue*/
.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*top bar container*/

.top-bar p{
    float: right;
}

/* inner div section */

.inner-container {
    
    height: 100%;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    background: rgb(80, 78, 78);
    box-shadow: 0 0 10px 2px;
    border-radius: 5px;
    
}

/*quiz header*/
.intro-paragraph main{
    margin-bottom: 30vh;
    margin-left: 10%;
    margin-right: 10%;
    
    /* background-color: aliceblue; */
}

.intro-paragraph p {
    text-align: center;
    margin-top: 20px;
}

.intro-paragraph button {
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    display: block;
    border-radius: 6px;
    cursor: pointer;
}
/*main quiz content*/

.btn-grid {
    display: flex;
    flex-direction: column;
    padding:5px;
    margin-top: 10px;
}


/*Submit initial section*/


.hide {
    display: none;
}